.faq_list_item {
  background-color: #303030;
  margin: 0.5rem;
  position: relative;
}

.faq_list_item button {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-bottom: 1px;
  font-size: 1.1rem;
  color: #fff;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.faq_list_item article {
  font-size: 1.1rem;
  transition: 300ms;
}

.faq_list_item p {
  padding: 1rem;
}

@media (min-width: 550px) {
  .faq_list_item button {
    font-size: 1.3rem;
  }
}
